@font-face {
  font-family: 'Born Strong';
  src: url("../fonts/BornStrong-Black.woff2") format("woff2"), url("../fonts/BornStrong-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Born Strong';
  src: url("../fonts/BornStrong-Bold.woff2") format("woff2"), url("../fonts/BornStrong-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Born Strong';
  src: url("../fonts/BornStrong-Light.woff2") format("woff2"), url("../fonts/BornStrong-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Born Strong Bold Rough';
  src: url("../fonts/BornStrong-BoldItalicRough.woff2") format("woff2"), url("../fonts/BornStrong-BoldItalicRough.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Born Strong Bold Rough';
  src: url("../fonts/BornStrong-BoldRough.woff2") format("woff2"), url("../fonts/BornStrong-BoldRough.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Born Strong';
  src: url("../fonts/BornStrong-Regular.woff2") format("woff2"), url("../fonts/BornStrong-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Born Strong';
  src: url("../fonts/BornStrong-Medium.woff2") format("woff2"), url("../fonts/BornStrong-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Space Grotesk", sans-serif;
  src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Space Grotesk';
  src: url("../fonts/SpaceGrotesk-Light.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Space Grotesk';
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Space Grotesk';
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Space Grotesk';
  src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

:root {
  --clr-black: #101112;
  --clr-darkblack:#0E0E0E;
  --clr-white: #ffffff;
  --clr-lightwhite:#EEEEEE;
  --clr-yellow:#CBFD72;
  --clr-grey:#CBCBCB;
  --clr-lightgrey:#181A1B;
  --transition:all 0.3s ease; }

html {
  scroll-behavior: smooth; }

.clr-white {
  color: var(--clr-white); }

.clr-yellow {
  color: var(--clr-yellow); }

.clr-grey {
  color: var(--clr-grey); }

.bg-lightgrey {
  background-color: var(--clr-lightgrey); }

.font-born {
  font-family: 'Born Strong'; }

.font-born-rough {
  font-family: 'Born Strong Bold Rough'; }

.font-300 {
  font-weight: 300; }

.font-500 {
  font-weight: 500; }

.font-600 {
  font-weight: 600; }

.font-700 {
  font-weight: 700; }

*,
:after,
:before {
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    color: var(--clr-black); }

body {
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--clr-black); }
  body.body-toggled {
    overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

@media only screen and (min-width: 1600px) {
  .custom-container {
    max-width: 1440px;
    margin: 0 auto; } }

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .custom-container {
    max-width: 80%;
    margin: 0 auto; } }

@media only screen and (min-width: 992px) and (max-width: 1499px) {
  .custom-container {
    width: calc(100% - 80px);
    max-width: none; } }

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .custom-container {
    width: calc(100% - 30px);
    max-width: none; } }

.ptb-120 {
  padding: 120px 0; }
  @media only screen and (max-width: 1600px) {
    .ptb-120 {
      padding: 80px 0; } }
  @media only screen and (max-width: 1199px) {
    .ptb-120 {
      padding: 70px 0; } }
  @media only screen and (max-width: 991px) {
    .ptb-120 {
      padding: 60px 0; } }
  @media only screen and (max-width: 767px) {
    .ptb-120 {
      padding: 50px 0; } }

.pt-120 {
  padding-top: 120px; }
  @media only screen and (max-width: 1600px) {
    .pt-120 {
      padding-top: 80px; } }
  @media only screen and (max-width: 1199px) {
    .pt-120 {
      padding-top: 70px; } }
  @media only screen and (max-width: 991px) {
    .pt-120 {
      padding-top: 60px; } }
  @media only screen and (max-width: 767px) {
    .pt-120 {
      padding-top: 50px; } }

.font-116 {
  font-size: 7.25rem;
  line-height: 6.875rem; }
  @media only screen and (max-width: 1599px) {
    .font-116 {
      font-size: 6.25rem;
      line-height: 5.875rem; } }
  @media only screen and (max-width: 1499px) {
    .font-116 {
      font-size: 5.25rem;
      line-height: 4.875rem; } }
  @media only screen and (max-width: 1199px) {
    .font-116 {
      font-size: 3.8rem;
      line-height: 4.2rem; } }
  @media only screen and (max-width: 767px) {
    .font-116 {
      font-size: 2.7rem;
      line-height: 3.5rem; } }
  @media only screen and (max-width: 480px) {
    .font-116 {
      font-size: 2.3rem;
      line-height: 3rem; } }
  @media only screen and (max-width: 375px) {
    .font-116 {
      font-size: 1.8rem;
      line-height: 2.2rem; } }

.font-75 {
  font-size: 4.68rem;
  line-height: 5.625rem; }
  @media only screen and (max-width: 1365px) {
    .font-75 {
      font-size: 3rem;
      line-height: 4rem; } }
  @media only screen and (max-width: 1199px) {
    .font-75 {
      font-size: 2.3rem;
      line-height: 2.8rem; } }

.font-50 {
  font-size: 3.125rem;
  line-height: 3.125rem; }
  @media only screen and (max-width: 1365px) {
    .font-50 {
      font-size: 2.5rem;
      line-height: 3rem; } }
  @media only screen and (max-width: 1199px) {
    .font-50 {
      line-height: 2.8rem; } }
  @media only screen and (max-width: 991px) {
    .font-50 {
      font-size: 2.2rem;
      line-height: 2.8rem; } }
  @media only screen and (max-width: 480px) {
    .font-50 {
      font-size: 1.8rem;
      line-height: 2rem; } }

.font-40 {
  font-size: 2.5rem;
  line-height: 3.125rem; }
  @media only screen and (max-width: 1365px) {
    .font-40 {
      font-size: 2rem;
      line-height: 3rem; } }
  @media only screen and (max-width: 767px) {
    .font-40 {
      font-size: 1.7rem;
      line-height: 2.5rem; } }

.font-32 {
  font-size: 2rem;
  line-height: 2rem; }
  @media only screen and (max-width: 1199px) {
    .font-32 {
      font-size: 1.8rem;
      line-height: 2.5rem; } }
  @media only screen and (max-width: 767px) {
    .font-32 {
      font-size: 1.7rem;
      line-height: 2rem; } }

.font-30 {
  font-size: 1.875rem;
  line-height: 3.125rem; }
  @media only screen and (max-width: 1199px) {
    .font-30 {
      font-size: 1.8rem;
      line-height: 2.5rem; } }
  @media only screen and (max-width: 767px) {
    .font-30 {
      font-size: 1.7rem;
      line-height: 2rem; } }

.font-20 {
  font-size: 20px;
  line-height: 40px; }
  @media only screen and (max-width: 1199px) {
    .font-20 {
      line-height: 35px; } }
  @media only screen and (max-width: 991px) {
    .font-20 {
      font-size: 18px;
      line-height: 28px; } }

.font-22 {
  font-size: 22px;
  line-height: 44px; }
  @media only screen and (max-width: 1199px) {
    .font-22 {
      line-height: 35px; } }
  @media only screen and (max-width: 991px) {
    .font-22 {
      font-size: 18px;
      line-height: 28px; } }

.font-18 {
  font-size: 18px;
  line-height: 30px; }
  @media only screen and (max-width: 991px) {
    .font-18 {
      font-size: 18px;
      line-height: 28px; } }
  @media only screen and (max-width: 767px) {
    .font-18 {
      line-height: 25px; } }
  @media only screen and (max-width: 575px) {
    .font-18 {
      font-size: 16px;
      line-height: 22px; } }

.font-16 {
  font-size: 16px;
  line-height: 23px; }

.btn-cust {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--clr-yellow);
  min-width: 165px;
  padding: 16px 25px;
  position: relative;
  border-radius: 40px 10px 40px 10px;
  transition: var(--transition); }
  @media only screen and (max-width: 767px) {
    .btn-cust {
      padding: 12px 20px;
      min-width: 155px; } }
  .btn-cust .text {
    font-size: 18px;
    line-height: 30px;
    color: var(--clr-darkblack);
    text-decoration: none; }
  .btn-cust:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: -4px;
    top: -4px;
    border-radius: 40px 10px 40px 10px;
    border: 1px solid rgba(203, 253, 114, 0.6);
    transition: var(--transition); }
    @media only screen and (max-width: 991px) {
      .btn-cust:before {
        border: none; } }
  .btn-cust:hover:before {
    top: 0;
    left: 0;
    transition: var(--transition); }

.br-25 {
  border-radius: 25px; }
  @media only screen and (max-width: 991px) {
    .br-25 {
      border-radius: 20px; } }
  @media only screen and (max-width: 767px) {
    .br-25 {
      border-radius: 15px; } }

.br-20 {
  border-radius: 20px; }
  @media only screen and (max-width: 767px) {
    .br-20 {
      border-radius: 15px; } }

.mt-70 {
  margin-top: 70px; }
  @media only screen and (max-width: 1199px) {
    .mt-70 {
      margin-top: 50px; } }
  @media only screen and (max-width: 767px) {
    .mt-70 {
      margin-top: 30px; } }

.main-menu .navbar {
  position: fixed !important;
  width: 100%;
  top: -2px;
  z-index: 1040;
  padding: 23px 0 20px;
  background-color: transparent;
  color: var(--clr-white);
  transition: background-color 0.3s; }
  @media only screen and (max-width: 991px) {
    .main-menu .navbar {
      background-color: var(--clr-dark-black); } }
  @media only screen and (max-width: 991px) {
    .main-menu .navbar {
      padding: 20px 0; } }
  .main-menu .navbar .navbar-toggler {
    padding: 0; }
    .main-menu .navbar .navbar-toggler:hover, .main-menu .navbar .navbar-toggler:focus {
      outline: none;
      box-shadow: none; }
    .main-menu .navbar .navbar-toggler .navbar-toggler-icon {
      position: relative; }
      .main-menu .navbar .navbar-toggler .navbar-toggler-icon:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background: url("../img/menu.svg") no-repeat center;
        background-size: cover; }
  .main-menu .navbar .navbar-brand {
    display: flex;
    align-items: center; }
    .main-menu .navbar .navbar-brand:hover {
      color: var(--clr-white); }
    .main-menu .navbar .navbar-brand:focus {
      color: var(--clr-white); }
  @media only screen and (max-width: 991px) {
    .main-menu .navbar .navbar-collapse {
      position: fixed;
      left: 0;
      right: 0;
      top: 72px;
      width: 100%;
      height: 100vh;
      z-index: -1;
      overflow: hidden; } }
  @media only screen and (max-width: 991px) {
    .main-menu .navbar .navbar-collapse .menu-align {
      height: 100vh;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: var(--clr-black);
      overflow-x: hidden;
      transition: 0.4s;
      padding-top: 92px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translateX(100%); } }
  @media only screen and (max-width: 991px) {
    .main-menu .navbar .navbar-collapse.show .menu-align {
      transform: translate(0); } }
  .main-menu .navbar .navbar-nav {
    align-items: center; }
    @media only screen and (max-width: 991px) {
      .main-menu .navbar .navbar-nav {
        margin-top: 15px;
        width: calc(100% - 30px);
        padding: 0 15px; } }
    @media only screen and (max-width: 575px) {
      .main-menu .navbar .navbar-nav {
        padding: 0; } }
    .main-menu .navbar .navbar-nav li {
      margin: 0 5px; }
      @media only screen and (max-width: 991px) {
        .main-menu .navbar .navbar-nav li {
          border-bottom: 1px solid var(--clr-black);
          width: 100%;
          margin: 0; } }
      .main-menu .navbar .navbar-nav li a {
        color: var(--clr-white);
        padding: 10px 25px;
        font-size: 18px;
        line-height: 16px;
        transition: var(--transition);
        position: relative; }
        @media only screen and (max-width: 1365px) {
          .main-menu .navbar .navbar-nav li a {
            padding: 10px 15px; } }
        @media only screen and (max-width: 1199px) {
          .main-menu .navbar .navbar-nav li a {
            padding: 10px 12px; } }
        @media only screen and (max-width: 991px) {
          .main-menu .navbar .navbar-nav li a {
            color: var(--clr-yellow);
            padding: 15px 15px 15px 0;
            text-transform: uppercase;
            display: block;
            font-size: 26px;
            line-height: 30px;
            font-weight: 700; } }
        .main-menu .navbar .navbar-nav li a:hover {
          color: var(--clr-yellow);
          outline: none;
          transition: var(--transition); }
      .main-menu .navbar .navbar-nav li a.active {
        color: var(--clr-yellow); }
      .main-menu .navbar .navbar-nav li:first-child {
        margin-left: 0; }
  @media only screen and (max-width: 991px) {
    .main-menu .navbar .menu-resp-outer {
      width: calc(100% - 30px);
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      gap: 20px; } }
  @media only screen and (max-width: 575px) {
    .main-menu .navbar .menu-resp-outer {
      padding: 0; } }
  .main-menu .navbar .menu-resp-outer .menu-btn {
    margin-left: 50px; }
    @media only screen and (max-width: 1365px) {
      .main-menu .navbar .menu-resp-outer .menu-btn {
        margin-left: 30px; } }
    @media only screen and (max-width: 991px) {
      .main-menu .navbar .menu-resp-outer .menu-btn {
        margin-left: 0; } }
    @media only screen and (max-width: 991px) {
      .main-menu .navbar .menu-resp-outer .menu-btn .btn-cust {
        display: block;
        text-align: center;
        text-transform: uppercase; } }
  .main-menu .navbar .container {
    position: relative;
    z-index: 8; }

.main-menu .navbar.scrolled:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2; }

.main-wrapper {
  position: relative; }
  .main-wrapper .call-to-action {
    position: fixed;
    bottom: 110px;
    right: 25px;
    z-index: 1100; }

.heading-wrap .head-text {
  margin: 0 0 30px; }
  @media only screen and (max-width: 1199px) {
    .heading-wrap .head-text {
      margin: 0 0 20px; } }
  @media only screen and (max-width: 767px) {
    .heading-wrap .head-text {
      margin: 0 0 15px; } }

.heading-wrap .para-text {
  margin: 30px auto 0; }
  @media only screen and (max-width: 767px) {
    .heading-wrap .para-text {
      margin: 20px auto 0; } }

.banner-section {
  background: url("../img/banner-bg.webp") no-repeat center center;
  background-size: cover;
  padding: 105px 0;
  height: 100vh;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 991px) {
    .banner-section {
      padding: 70px 0; } }
  @media only screen and (max-width: 767px) {
    .banner-section {
      height: calc(100vh - 70px);
      padding: 50px 0;
      margin-top: 80px; } }
  @media only screen and (max-width: 575px) {
    .banner-section {
      height: auto;
      margin-top: 72px;
      padding: 60px 0; } }
  .banner-section .div-bg {
    position: absolute;
    right: -22.73vw;
    top: 0;
    animation: roundspin 100s infinite linear; }

@keyframes roundspin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

@-webkit-keyframes roundspin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

@-moz-keyframes roundspin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
    .banner-section .div-bg img {
      width: 45.46vw;
      height: 45.46vw;
      opacity: 0.50; }
    @media only screen and (max-width: 991px) {
      .banner-section .div-bg {
        display: none; } }
  .banner-section .banner-content h1 {
    color: var(--clr-lightwhite); }
    @media only screen and (max-width: 767px) {
      .banner-section .banner-content h1 {
        margin: 15px auto !important; } }
  .banner-section .banner-content .btns-wrap {
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    gap: 30px; }
    @media only screen and (max-width: 480px) {
      .banner-section .banner-content .btns-wrap {
        gap: 20px; } }
    .banner-section .banner-content .btns-wrap .play-video .circle-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      gap: 15px; }
      .banner-section .banner-content .btns-wrap .play-video .circle-wrapper .circle {
        background-color: rgba(255, 255, 255, 0.2);
        height: 70px;
        border-radius: 50%;
        width: 70px;
        margin: auto;
        position: relative; }
        @media only screen and (max-width: 767px) {
          .banner-section .banner-content .btns-wrap .play-video .circle-wrapper .circle {
            height: 60px;
            width: 60px; } }
        @media only screen and (max-width: 575px) {
          .banner-section .banner-content .btns-wrap .play-video .circle-wrapper .circle {
            height: 50px;
            width: 50px; } }
        .banner-section .banner-content .btns-wrap .play-video .circle-wrapper .circle .circleone {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          width: 76%;
          height: 76%;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 auto;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.8);
          z-index: 99; }
          .banner-section .banner-content .btns-wrap .play-video .circle-wrapper .circle .circleone .play-icon {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
            z-index: 99; }
            .banner-section .banner-content .btns-wrap .play-video .circle-wrapper .circle .circleone .play-icon img {
              margin-left: 3px; }
      @media only screen and (max-width: 480px) {
        .banner-section .banner-content .btns-wrap .play-video .circle-wrapper .text {
          display: none !important; } }

.about-section .about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; }
  @media only screen and (max-width: 991px) {
    .about-section .about-content {
      gap: 20px; } }
  @media only screen and (max-width: 767px) {
    .about-section .about-content {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 480px) {
    .about-section .about-content {
      gap: 15px; } }
  .about-section .about-content .item {
    position: relative;
    background: linear-gradient(45deg, rgba(217, 217, 217, 0.03), rgba(16, 17, 18, 0.11));
    padding: 50px 30px 40px;
    transition: var(--transition); }
    @media only screen and (max-width: 1199px) {
      .about-section .about-content .item {
        padding: 40px 30px 35px; } }
    @media only screen and (max-width: 991px) {
      .about-section .about-content .item {
        padding: 35px 30px 35px; } }
    @media only screen and (max-width: 767px) {
      .about-section .about-content .item {
        padding: 30px; } }
    @media only screen and (max-width: 575px) {
      .about-section .about-content .item {
        padding: 25px 20px; } }
    .about-section .about-content .item:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--clr-black);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      border-radius: 25px;
      transition: var(--transition); }
      @media only screen and (max-width: 991px) {
        .about-section .about-content .item:after {
          border-radius: 20px; } }
      @media only screen and (max-width: 767px) {
        .about-section .about-content .item:after {
          border-radius: 15px; } }
    .about-section .about-content .item:before {
      content: '';
      position: absolute;
      left: -1px;
      right: 0;
      top: -1px;
      bottom: 0;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      background: linear-gradient(45deg, #cbfd72 1%, rgba(16, 17, 18, 0.51) 56%, #cbfd72 100%);
      opacity: 0;
      visibility: hidden;
      border-radius: 25px;
      transition: var(--transition); }
      @media only screen and (max-width: 991px) {
        .about-section .about-content .item:before {
          border-radius: 20px; } }
      @media only screen and (max-width: 767px) {
        .about-section .about-content .item:before {
          border-radius: 15px; } }
    .about-section .about-content .item .item-inner {
      position: relative;
      z-index: 3;
      border-radius: 25px;
      transition: var(--transition); }
      @media only screen and (max-width: 991px) {
        .about-section .about-content .item .item-inner {
          border-radius: 20px; } }
      @media only screen and (max-width: 767px) {
        .about-section .about-content .item .item-inner {
          border-radius: 15px; } }
      @media only screen and (max-width: 991px) {
        .about-section .about-content .item .item-inner h3 {
          font-size: 2rem;
          line-height: 2.4rem; } }
    .about-section .about-content .item:hover:after {
      opacity: 1;
      visibility: visible;
      transition: var(--transition); }
    .about-section .about-content .item:hover:before {
      opacity: 1;
      visibility: visible;
      transition: var(--transition); }

.service-section .service-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  @media only screen and (max-width: 991px) {
    .service-section .service-content {
      grid-gap: 20px; } }
  @media only screen and (max-width: 767px) {
    .service-section .service-content {
      grid-template-columns: 1fr;
      grid-gap: 0; } }
  .service-section .service-content .item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative; }
    @media only screen and (max-width: 991px) {
      .service-section .service-content .item {
        gap: 20px; } }
    @media only screen and (max-width: 767px) {
      .service-section .service-content .item {
        gap: 0; } }
    @media only screen and (max-width: 767px) {
      .service-section .service-content .item:nth-child(2) {
        flex-direction: column-reverse;
        gap: 0; } }
    .service-section .service-content .item .img-wrap {
      position: relative;
      overflow: hidden; }
      @media only screen and (max-width: 767px) {
        .service-section .service-content .item .img-wrap {
          display: flex;
          flex-direction: row-reverse;
          gap: 20px;
          border-bottom: 1px solid rgba(54, 54, 54, 0.5);
          border-radius: 0;
          padding: 30px 0;
          justify-content: space-between; } }
      @media only screen and (max-width: 575px) {
        .service-section .service-content .item .img-wrap {
          padding: 25px 0; } }
      @media only screen and (max-width: 480px) {
        .service-section .service-content .item .img-wrap {
          gap: 15px; } }
      .service-section .service-content .item .img-wrap img {
        width: 100%;
        object-fit: cover; }
        @media only screen and (max-width: 767px) {
          .service-section .service-content .item .img-wrap img {
            width: 300px;
            height: 200px;
            flex: 0 0 auto; } }
        @media only screen and (max-width: 575px) {
          .service-section .service-content .item .img-wrap img {
            width: 100px;
            height: 150px; } }
      .service-section .service-content .item .img-wrap .text {
        text-align: center;
        position: absolute;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 30px);
        width: calc(100% - 30px);
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
        word-break: break-word; }
        @media only screen and (max-width: 991px) {
          .service-section .service-content .item .img-wrap .text {
            font-size: 1.8rem;
            line-height: 2rem; } }
        @media only screen and (max-width: 767px) {
          .service-section .service-content .item .img-wrap .text {
            opacity: 1;
            visibility: visible;
            position: relative;
            top: 0;
            transform: none;
            height: auto;
            width: auto;
            margin: 0;
            text-align: start; } }
      .service-section .service-content .item .img-wrap:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        transition: var(--transition);
        opacity: 0;
        visibility: hidden; }
        @media only screen and (max-width: 767px) {
          .service-section .service-content .item .img-wrap:after {
            display: none; } }
      .service-section .service-content .item .img-wrap:hover .text {
        opacity: 1;
        visibility: visible;
        transition: var(--transition); }
      .service-section .service-content .item .img-wrap:hover:after {
        opacity: 1;
        visibility: visible; }
    .service-section .service-content .item:last-child .img-wrap:last-child {
      border-bottom: none;
      padding-bottom: 0; }

.why-choose-us .heading-wrap {
  position: sticky;
  top: 120px; }
  @media only screen and (max-width: 991px) {
    .why-choose-us .heading-wrap {
      text-align: center; } }
  @media only screen and (max-width: 991px) {
    .why-choose-us .heading-wrap .head-title {
      margin: 0 auto; } }
  @media only screen and (max-width: 991px) {
    .why-choose-us .heading-wrap .head-title h2 {
      margin: 0; } }

@media only screen and (max-width: 991px) {
  .why-choose-us .right-content {
    margin-top: 50px; } }

@media only screen and (max-width: 767px) {
  .why-choose-us .right-content {
    margin-top: 30px; } }

.why-choose-us .right-content .item {
  display: flex;
  align-items: start;
  gap: 30px;
  padding: 55px 0 50px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.5); }
  @media only screen and (max-width: 991px) {
    .why-choose-us .right-content .item {
      padding: 35px 0 35px;
      gap: 20px; } }
  @media only screen and (max-width: 767px) {
    .why-choose-us .right-content .item {
      padding: 30px 0 30px; } }
  @media only screen and (max-width: 575px) {
    .why-choose-us .right-content .item {
      padding: 25px 0 20px; } }
  @media only screen and (max-width: 480px) {
    .why-choose-us .right-content .item {
      padding: 25px 0 20px; } }
  @media only screen and (max-width: 375px) {
    .why-choose-us .right-content .item {
      flex-direction: column; } }
  .why-choose-us .right-content .item .icon {
    flex: 0 0 auto;
    padding: 23px 20px;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(45deg, rgba(217, 217, 217, 0.03), rgba(16, 17, 18, 0.11)); }
    @media only screen and (max-width: 1199px) {
      .why-choose-us .right-content .item .icon {
        padding: 18px; } }
    @media only screen and (max-width: 575px) {
      .why-choose-us .right-content .item .icon {
        padding: 15px;
        text-align: center; } }
    .why-choose-us .right-content .item .icon:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--clr-black);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      border-radius: 10px;
      transition: var(--transition); }
    .why-choose-us .right-content .item .icon:before {
      content: '';
      position: absolute;
      left: -1px;
      right: 0;
      top: -1px;
      bottom: 0;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      background: linear-gradient(45deg, #cbfd72 1%, rgba(16, 17, 18, 0.51) 56%, #cbfd72 100%);
      opacity: 0;
      visibility: hidden;
      border-radius: 10px;
      transition: var(--transition); }
    .why-choose-us .right-content .item .icon img {
      position: relative;
      z-index: 3; }
      @media only screen and (max-width: 575px) {
        .why-choose-us .right-content .item .icon img {
          max-width: 80%; } }
  .why-choose-us .right-content .item .short-wrap .serve-title {
    margin: 0 0 15px; }
    @media only screen and (max-width: 1199px) {
      .why-choose-us .right-content .item .short-wrap .serve-title {
        margin: 0 0 10px; } }
  .why-choose-us .right-content .item .short-wrap p {
    margin: 0; }
  .why-choose-us .right-content .item:hover .icon:after {
    opacity: 1;
    visibility: visible;
    transition: var(--transition); }
  .why-choose-us .right-content .item:hover .icon:before {
    opacity: 1;
    visibility: visible;
    transition: var(--transition); }
  .why-choose-us .right-content .item:first-child {
    padding-top: 0; }
  .why-choose-us .right-content .item:last-child {
    border-bottom: none; }
    @media only screen and (max-width: 991px) {
      .why-choose-us .right-content .item:last-child {
        padding-bottom: 0; } }

.item-area {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden; }
  .item-area .teamslide {
    width: 100%;
    height: 570px; }
    @media only screen and (max-width: 1199px) {
      .item-area .teamslide {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        height: auto; } }
    .item-area .teamslide .teamitem {
      width: 256px;
      height: 100%;
      overflow: hidden;
      float: left;
      position: relative;
      border-radius: 20px;
      margin-right: 30px;
      transition: ease all 0.6s; }
      @media only screen and (min-width: 1200px) and (max-width: 1365px) {
        .item-area .teamslide .teamitem {
          width: 190px; } }
      @media only screen and (max-width: 1199px) {
        .item-area .teamslide .teamitem {
          min-width: 80%;
          width: 100%;
          border-radius: 0;
          margin-bottom: 10px; } }
      @media only screen and (max-width: 991px) {
        .item-area .teamslide .teamitem {
          margin-right: 20px; } }
      @media only screen and (max-width: 767px) {
        .item-area .teamslide .teamitem {
          border-radius: 15px; } }
      @media only screen and (max-width: 375px) {
        .item-area .teamslide .teamitem {
          min-width: 90%; } }
      .item-area .teamslide .teamitem .teamtitle {
        position: absolute;
        left: 0;
        z-index: 1;
        width: 100%;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        height: 100%;
        cursor: pointer;
        transition: var(--transition); }
        @media only screen and (max-width: 1199px) {
          .item-area .teamslide .teamitem .teamtitle {
            display: none; } }
        .item-area .teamslide .teamitem .teamtitle.hide {
          display: none; }
      .item-area .teamslide .teamitem .team-detail {
        width: 800px;
        display: flex;
        align-items: center;
        height: 100%;
        border-radius: 20px;
        background-color: var(--clr-white); }
        @media only screen and (max-width: 1199px) {
          .item-area .teamslide .teamitem .team-detail {
            width: 100%;
            flex-direction: column; } }
        @media only screen and (max-width: 767px) {
          .item-area .teamslide .teamitem .team-detail {
            border-radius: 15px; } }
        .item-area .teamslide .teamitem .team-detail .team-img {
          height: 100%;
          width: 100%;
          border-radius: 20px;
          transition: all 0.3s ease-in; }
          @media only screen and (max-width: 1199px) {
            .item-area .teamslide .teamitem .team-detail .team-img {
              flex: 0 0 auto; } }
          @media only screen and (max-width: 767px) {
            .item-area .teamslide .teamitem .team-detail .team-img {
              border-radius: 15px; } }
          .item-area .teamslide .teamitem .team-detail .team-img img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
            object-position: 44% 75%; }
            @media only screen and (max-width: 767px) {
              .item-area .teamslide .teamitem .team-detail .team-img img {
                border-radius: 15px; } }
          .item-area .teamslide .teamitem .team-detail .team-img .text-wrap {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            padding: 30px 30px 20px;
            border-radius: 0 0 20px 20px;
            transition: var(--transition);
            background: linear-gradient(45deg, rgba(217, 217, 217, 0.2) 0%, rgba(16, 17, 18, 0.71) 100%); }
            @media only screen and (max-width: 1199px) {
              .item-area .teamslide .teamitem .team-detail .team-img .text-wrap {
                opacity: 1;
                visibility: visible; } }
            @media only screen and (max-width: 991px) {
              .item-area .teamslide .teamitem .team-detail .team-img .text-wrap {
                padding: 25px 25px 15px; } }
            @media only screen and (max-width: 767px) {
              .item-area .teamslide .teamitem .team-detail .team-img .text-wrap {
                border-radius: 0 0 15px 15px;
                padding: 15px 25px 10px 20px; } }
            .item-area .teamslide .teamitem .team-detail .team-img .text-wrap span {
              position: relative;
              top: -5px; }
        .item-area .teamslide .teamitem .team-detail:first-child .team-img img {
          object-position: 59% 35%; }
      .item-area .teamslide .teamitem.active {
        width: calc(100% - 4 * 220px); }
        @media only screen and (min-width: 1200px) and (max-width: 1365px) {
          .item-area .teamslide .teamitem.active {
            width: calc(100% - 4 * 165px); } }
        @media only screen and (max-width: 1199px) {
          .item-area .teamslide .teamitem.active {
            width: 100%; } }
        .item-area .teamslide .teamitem.active .team-detail {
          width: 100%; }
          .item-area .teamslide .teamitem.active .team-detail .row .col:first-child {
            max-width: 40% !important; }
          .item-area .teamslide .teamitem.active .team-detail .team-img {
            width: 100%;
            flex: 0 0 auto;
            border-radius: 20px 0 0 20px; }
            @media only screen and (max-width: 1365px) {
              .item-area .teamslide .teamitem.active .team-detail .team-img {
                width: 100%; } }
            @media only screen and (max-width: 991px) {
              .item-area .teamslide .teamitem.active .team-detail .team-img {
                width: 100%;
                flex: auto; } }
            @media only screen and (max-width: 767px) {
              .item-area .teamslide .teamitem.active .team-detail .team-img {
                border-radius: 15px 0 0 15px; } }
            .item-area .teamslide .teamitem.active .team-detail .team-img img {
              border-radius: 20px 0 0 20px; }
              @media only screen and (max-width: 767px) {
                .item-area .teamslide .teamitem.active .team-detail .team-img img {
                  border-radius: 15px 0 0 15px; } }
            .item-area .teamslide .teamitem.active .team-detail .team-img .text-wrap {
              opacity: 1;
              visibility: visible;
              transition: var(--transition); }
      .item-area .teamslide .teamitem:last-child {
        margin-right: 0; }

.accordion {
  border: none; }
  .accordion .accordion-item {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.5); }
  .accordion .accordion-button {
    background-color: transparent;
    box-shadow: none;
    padding: 2rem 2rem 2rem 0; }
    @media only screen and (max-width: 767px) {
      .accordion .accordion-button {
        padding: 1.5rem 1.5rem 1.5rem 0; } }
    .accordion .accordion-button:after {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      background-size: contain;
      margin-left: auto;
      content: "";
      background-image: url("../img/caret-right.svg");
      background-repeat: no-repeat;
      transition: transform 0.2s ease-in-out; }
  .accordion .accordion-button:not(.collapsed) {
    color: var(--clr-yellow);
    background-color: transparent;
    box-shadow: none; }
  .accordion .accordion-body {
    padding: 0 2rem 2rem 0; }
    @media only screen and (max-width: 767px) {
      .accordion .accordion-body {
        padding: 0 1.5rem 1.5rem 0; } }
  .accordion .accordion-button:not(.collapsed)::after {
    transform: rotate(90deg);
    background-image: url("../img/caret-yellow.svg"); }

.testimonial-section .client-slider .slick-track {
  display: flex; }

.testimonial-section .client-slider .item {
  padding: 40px 35px;
  border-radius: 25px;
  transition: var(--transition);
  opacity: 0.10;
  background: linear-gradient(45deg, rgba(217, 217, 217, 0.03), rgba(16, 17, 18, 0.11));
  margin: 0 15px; }
  @media only screen and (max-width: 1199px) {
    .testimonial-section .client-slider .item {
      padding: 35px 30px; } }
  @media only screen and (max-width: 767px) {
    .testimonial-section .client-slider .item {
      padding: 30px 25px 25px; } }
  @media only screen and (max-width: 575px) {
    .testimonial-section .client-slider .item {
      padding: 25px 20px 20px; } }
  @media only screen and (max-width: 480px) {
    .testimonial-section .client-slider .item {
      margin: 0; } }
  .testimonial-section .client-slider .item:before {
    content: '';
    position: absolute;
    left: -1px;
    right: 0;
    top: -1px;
    bottom: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(45deg, #cbfd72 1%, rgba(16, 17, 18, 0.51) 56%, #cbfd72 100%);
    opacity: 0;
    visibility: hidden;
    border-radius: 25px;
    transition: var(--transition); }
    @media only screen and (max-width: 991px) {
      .testimonial-section .client-slider .item:before {
        border-radius: 20px; } }
    @media only screen and (max-width: 767px) {
      .testimonial-section .client-slider .item:before {
        border-radius: 15px; } }
  .testimonial-section .client-slider .item .img-content {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    gap: 30px;
    overflow: hidden;
    padding: 2px; }
    @media only screen and (max-width: 991px) {
      .testimonial-section .client-slider .item .img-content {
        gap: 20px; } }
    @media only screen and (max-width: 575px) {
      .testimonial-section .client-slider .item .img-content {
        gap: 15px; } }
    @media only screen and (max-width: 375px) {
      .testimonial-section .client-slider .item .img-content {
        flex-direction: column;
        align-items: start;
        margin: 0 0 15px; } }
    .testimonial-section .client-slider .item .img-content .img-wrap {
      flex: 0 0 auto;
      padding: 0;
      border-radius: 10px;
      position: relative;
      background: linear-gradient(45deg, rgba(217, 217, 217, 0.03), rgba(16, 17, 18, 0.11)); }
      @media only screen and (max-width: 375px) {
        .testimonial-section .client-slider .item .img-content .img-wrap {
          width: max-content; } }
      .testimonial-section .client-slider .item .img-content .img-wrap:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--clr-black);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        border-radius: 10px;
        transition: all 0.3s ease; }
      .testimonial-section .client-slider .item .img-content .img-wrap:before {
        content: '';
        position: absolute;
        left: -1px;
        right: 0;
        top: -1px;
        bottom: 0;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: linear-gradient(45deg, #cbfd72 1%, rgba(16, 17, 18, 0.51) 56%, #cbfd72 100%);
        opacity: 0;
        visibility: hidden;
        border-radius: 10px;
        transition: var(--transition); }
      .testimonial-section .client-slider .item .img-content .img-wrap img {
        position: relative;
        z-index: 3;
        border-radius: 10px; }
  .testimonial-section .client-slider .item .para-text p {
    margin: 0; }
  .testimonial-section .client-slider .item.slick-current {
    min-width: 680px;
    opacity: 1; }
    @media only screen and (max-width: 1199px) {
      .testimonial-section .client-slider .item.slick-current {
        min-width: 480px; } }
    @media only screen and (max-width: 767px) {
      .testimonial-section .client-slider .item.slick-current {
        min-width: auto; } }
    .testimonial-section .client-slider .item.slick-current .img-content .img-wrap:after {
      opacity: 1;
      visibility: visible;
      transition: var(--transition); }
    .testimonial-section .client-slider .item.slick-current .img-content .img-wrap:before {
      opacity: 1;
      visibility: visible;
      transition: var(--transition); }

.testimonial-section .client-slider .slick-slide {
  height: auto; }

.marquee-outer {
  padding: 70px 0; }
  @media only screen and (max-width: 991px) {
    .marquee-outer {
      padding: 60px 0; } }
  @media only screen and (max-width: 767px) {
    .marquee-outer {
      padding: 50px 0; } }
  @media only screen and (max-width: 575px) {
    .marquee-outer {
      padding: 35px 0; } }
  .marquee-outer .click-text {
    margin: 0 30px 0 0;
    font-size: 5.20vw;
    line-height: 5.20vw;
    color: var(--clr-white);
    text-transform: uppercase;
    position: relative;
    font-weight: 500; }
    @media only screen and (max-width: 375px) {
      .marquee-outer .click-text {
        font-size: 8.20vw;
        line-height: 8.20vw; } }
  .marquee-outer .marquee-one {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0 auto;
    height: 100%;
    -webkit-transform: translate3d(var(--move-initial), 4px, 4px);
    transform: translate3d(var(--move-initial), 4px, 4px);
    -webkit-animation: 18s linear infinite marqueeOne;
    animation: 18s linear infinite marqueeOne; }
  .marquee-outer .marquee-one {
    --offset: 35vw;
    --move-initial: calc(-32% + var(--offset));
    --move-final: calc(-45% + var(--offset)); }

@keyframes marqueeOne {
  0% {
    transform: translate3d(var(--move-final), 0, 0);
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0); }
  100% {
    transform: translate3d(var(--move-initial), 0, 0);
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0); } }

.section-footer {
  background: url("../img/footer-bg.png") no-repeat center;
  background-size: cover; }
  @media only screen and (max-width: 767px) {
    .section-footer .footer-details {
      margin-top: 50px; } }
  .section-footer .footer-details .footer-main .footer-logo {
    width: 133px;
    height: auto; }
    @media only screen and (max-width: 767px) {
      .section-footer .footer-details .footer-main .footer-logo {
        width: 90px;
        height: auto; } }
  .section-footer .footer-details .footer-main p {
    margin: 35px 0 45px; }
    @media only screen and (max-width: 991px) {
      .section-footer .footer-details .footer-main p {
        margin: 20px 0 20px; } }
  .section-footer .footer-details .company-address .address-grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; }
    @media only screen and (max-width: 1199px) {
      .section-footer .footer-details .company-address .address-grids {
        gap: 15px; } }
    @media only screen and (max-width: 991px) {
      .section-footer .footer-details .company-address .address-grids {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; } }
    @media only screen and (max-width: 767px) {
      .section-footer .footer-details .company-address .address-grids {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; } }
    .section-footer .footer-details .company-address .address-grids .inner-address:nth-child(1) ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px; }
      @media only screen and (max-width: 1199px) {
        .section-footer .footer-details .company-address .address-grids .inner-address:nth-child(1) ul {
          gap: 4px; } }
      @media only screen and (max-width: 375px) {
        .section-footer .footer-details .company-address .address-grids .inner-address:nth-child(1) ul {
          grid-template-columns: 1fr; } }
    .section-footer .footer-details .company-address .address-grids .inner-address h5 {
      margin-bottom: 15px; }
      @media only screen and (max-width: 767px) {
        .section-footer .footer-details .company-address .address-grids .inner-address h5 {
          margin-bottom: 5px; } }
    .section-footer .footer-details .company-address .address-grids .inner-address ul li {
      font-size: 20px;
      line-height: 44px;
      color: var(--clr-white); }
      @media only screen and (max-width: 1199px) {
        .section-footer .footer-details .company-address .address-grids .inner-address ul li {
          font-size: 16px;
          line-height: 28px; } }
      .section-footer .footer-details .company-address .address-grids .inner-address ul li:hover a {
        color: var(--secondary); }
    .section-footer .footer-details .company-address .address-grids .inner-address ul a {
      color: var(--white);
      text-decoration: none;
      transition: color 0.4s ease; }
  .section-footer .inquiry-form .submit-btn {
    outline: none;
    border: none;
    margin-top: 20px; }
  .section-footer .inquiry-form .form-control {
    display: block;
    width: 100%;
    padding: 2rem 0 1rem;
    font-size: 20px;
    line-height: 44px;
    font-weight: 400;
    color: var(--clr-white);
    background-color: transparent;
    background-clip: padding-box;
    appearance: none;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    @media only screen and (max-width: 1199px) {
      .section-footer .inquiry-form .form-control {
        padding: 1.5rem 0 1rem; } }
    @media only screen and (max-width: 1199px) {
      .section-footer .inquiry-form .form-control {
        font-size: 16px;
        line-height: 28px; } }
    @media only screen and (max-width: 767px) {
      .section-footer .inquiry-form .form-control {
        font-size: 18px;
        line-height: 30px;
        padding: 1.5rem 0; } }
    .section-footer .inquiry-form .form-control::placeholder {
      color: var(--clr-white);
      opacity: 0.25; }
    .section-footer .inquiry-form .form-control:focus, .section-footer .inquiry-form .form-control:hover {
      box-shadow: none;
      outline: none;
      color: var(--clr-white);
      border-bottom: 1px solid var(--clr-white); }
      .section-footer .inquiry-form .form-control:focus::placeholder, .section-footer .inquiry-form .form-control:hover::placeholder {
        opacity: 1; }
  .section-footer .copy-right-main {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 0 0; }
    @media only screen and (max-width: 1600px) {
      .section-footer .copy-right-main {
        margin: 80px 0 0; } }
    @media only screen and (max-width: 1199px) {
      .section-footer .copy-right-main {
        margin: 70px 0 0; } }
    @media only screen and (max-width: 991px) {
      .section-footer .copy-right-main {
        margin: 60px 0 0;
        padding: 10px 0;
        display: block;
        text-align: center; } }
    @media only screen and (max-width: 767px) {
      .section-footer .copy-right-main {
        margin: 50px 0 0; } }
    @media only screen and (max-width: 575px) {
      .section-footer .copy-right-main {
        margin: 30px 0 0; } }
    .section-footer .copy-right-main .copy-right {
      padding: 20px 0; }
      @media only screen and (max-width: 991px) {
        .section-footer .copy-right-main .copy-right {
          padding: 0; } }

@media only screen and (min-width: 1600px) {
  .modal-dialog {
    max-width: 1400px; } }

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .modal-dialog {
    max-width: 80%; } }

@media only screen and (max-width: 991px) {
  .modal-dialog {
    max-width: 600px; } }

@media only screen and (max-width: 575px) {
  .modal-dialog {
    max-width: 80%;
    margin: 0 auto; } }

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s; }

@keyframes zoom {
  0% {
    transform: scale(0.1); }
  100% {
    transform: scale(1); } }
  .modal-content video {
    width: 100%;
    line-height: normal; }
  .modal-content .close {
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0;
    background: transparent;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 35px;
    height: 35px;
    background: var(--clr-yellow);
    border-radius: 50%; }
    .modal-content .close span {
      display: block; }
      .modal-content .close span img {
        max-width: 60%;
        margin: 0 auto; }
        @media only screen and (max-width: 480px) {
          .modal-content .close span img {
            max-width: 50%; } }
